
uv.lock
*.bak
*.swp
*\~
*~
*.log
.DS_Store
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
_MACOSX
$RECYCLE.BIN/
*.lnk
.AppleDouble
.LSOverride
Icon
Icon\r
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.TemporaryItems
.AppleDB
.AppleDesktop
Temporary Items
Network Trash Folder
.apdisk
_viminfo
[._]*.un~
.venv
[._]venv
