[defaults]
nocows=True
forks=500
internal_poll_interval=0.000000001
no_target_syslog=True
devel_warning=False
deprecation_warnings=False
system_warnings=False
collections_on_ansible_version_mismatch=ignore
error_on_undefined_vars=True
duplicate_dict_key=warn
interpreter_python=auto_silent
max_diff_size=256
verbose_to_stderr=True
check_mode_markers=True
debug=False
playbook_dir=playbooks/
collections_path=galaxy_collections:collections:~/.ansible/collections:/usr/share/ansible/collections
roles_path=galaxy_roles:roles
